<!DOCTYPE html>
<html ng-app="ToDo"><!-- Important Step for Angular model-->
  <head>
    <meta charset="utf-8">
    <title>To Do App</title>
    <link rel="stylesheet" href="/ngApp/css/todo.css" />
  </head>
  <body>
  <div ng-contoller="todoController as vm">
    <form name="taskForm" ng-submit="addTask()">
        New Task: <input type="text" ng-model="newtask"  name="newTask" placeholder="add new task here" size="30" required/><!-- directive is ng-model -->
        <button ng-click="addTask()" ng-disabled="taskForm.$invalid">Enter</button>
        <!--button ng-disabled="taskForm.$invalid">Enter</button>-->
    </form>
    <button ng-click="taskCompleted()">Remove Completed Task</button>
    <h2>Tasks</h2>
    <ul>
      <li ng-repeat="task in tasks">
        <input type="checkbox" ng-model="task.complete" />
        <span ng-class="{"complete":task.complete}">{{tasks.title}}</span>
      </li>
    </ul>
    <ui-views></ui-views>
  </div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>-->
<script src="bower_components/angular/angular.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.8/angular-resource.min.js"></script>-->
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>-->
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/ngApp/app.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>-->
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/ngApp/controllers/todoController.js"></script>
    <script>


    </script>
  </body>
</html>
